.block1{
    width: 30%;
    height: 30%;
    background-color: red;
    color:blueviolet;
}

.guys{
    margin-top: 60px;
    margin-left: 120px;
    width: 30%;
    height: 20vh;
    color: red;
    background-color: rgb(189, 57, 33);
}

.guys1{
    margin-top: 400px;
    margin-left: 1000px;
    width: 30%;
    height: 20vh;
    color: red;
    background-color:rgb(189, 57, 33);;
}