@import '../../css-config/mixins.scss';
.landing{
    width: 100%;
    min-height: calc(100vh - 150px);
    background-color: rgba(0,0,0,0.05);
    display: flex;
    padding: 0 8%;
    align-items: center;
    justify-content: space-between;
    .content{
        p{
            font-weight: 700;
            font-size: 24px;
            color: rgba(0,0,0,0.7);
            font-family: var(--pFont);
        }
        h1{
            color: #21409A;
            font-family: var(--hFont);
            font-weight: 700;
            font-size: 48px;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            margin-top: 10px;
            span{
                font-family: var(--hFont);
                font-weight: 700;
                font-size: 48px;
                font-size: 48px;
                display: block;
                color: #ED1C24;
            }
        }
        button{
            padding: 10px 40px;
            background: none;
            border: 2px solid #21409A;
            border-radius: 5px;
            margin-top: 20px;
            color: #21409A;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 1s ease;
            &:hover{
                box-shadow: inset 200px 0 0 0 #21409A;
                color: white;
            }
        }
    }

    .image{
        width: 500px;
        height: 500px;
        background-color: blue;
    }
}