@import '../../../css-config/mixins.scss';
body{
    height: 200vh;
}
.banner{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    .top{
        width: 100%;
        height: 30px;
        background-color: rgb(217, 217, 217);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8%;
        position: fixed;
        top: 0;
        z-index: 2;
    }
    .nav-bar{
        z-index: 9;
        margin-top: 30px;
        background-color: white;
        box-shadow: 0 0 10px black;
        font-family: var(--pFont);
        nav{
            width: 100%;
            text-align: center;
            transition: all 0.5s ease;
            z-index: 1;
            &.sticky{
                position: fixed;
                left: 0;
                top: 30px;
                padding: 0 8%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                ul{
                    width: auto;
                    background: none;
                }
            }
            .logo{
                height: 60px;
                cursor: pointer;
                margin: 10px 0;
            }
            ul{
                background-color: #ECF4F8;
                width: 100%;
                li{
                    display: inline-block;
                    list-style: none;
                    margin: 20px 30px;
                    a{
                        text-decoration: none;
                        color: black;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        &.active{
                            color: red;
                        }
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .container{
        width: 100%;
        padding: 0 8%;
        position: absolute;
        top: 50%;
        transform: translateY(-25%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 0;
        .content{
            p{
                font-weight: 700;
                font-size: 24px;
                color: rgba(0,0,0,0.7);
                font-family: var(--pFont);
            }
            h1{
                color: #21409A;
                font-family: var(--hFont);
                font-weight: 700;
                font-size: 48px;
                text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
                margin-top: 10px;
                span{
                    font-family: var(--hFont);
                    font-weight: 700;
                    font-size: 48px;
                    font-size: 48px;
                    display: block;
                    color: #ED1C24;
                }
            }
            button{
                padding: 10px 20px;
                background: none;
                border: 2px solid #21409A;
                border-radius: 5px;
                margin-top: 20px;
                color: #21409A;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                transition: all 1s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                svg{
                    font-size: 20px;
                }
                &:hover{
                    box-shadow: inset 200px 0 0 0 #21409A;
                    color: white;
                }
            }
        }
        .image{
            width: 450px;
            height: 450px;
            background-image: url('../../../assets/Landing/landing-banner.png');
            border: 2px solid #ECF4F8;
            background-color: #ECF4F8;
            border-radius: 50%;
            transition: all 1s ease;
            animation: hoverImg 6s ease-in 0s infinite;
        }
        
        // Bubbles Animation
        .bubble1{
            width: 80px;
            height: 80px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            background: none;
            border: 4px solid #ECF4F8;
            animation: bubble1 15s ease-in 2s infinite;
            z-index: -1;
        }
        .bubble2{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 150px;
            right: 0;
            border-radius: 50%;
            background: none;
            border: 6px solid #ECF4F8;
            animation: bubble1 10s ease-in 3s infinite;
            z-index: -1;
        }
        .bubble3{
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            background: none;
            border: 5px solid #ECF4F8;
            animation: bubble1 20s ease-in 4s infinite;
            z-index: -1;
        }
    }
}

@keyframes bubble1 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw);
    }
}

@keyframes hoverImg {
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}