@import '../../../css-config/mixins.scss';

.programmes {
  height: 445px;
  width: 100%;

  .Cover-Image {
    position: relative;
    height: 100%;
    width: 100%;

    .dim {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right,
          rgba(0, 0, 0) 0%,
          rgba(0, 0, 0, 0.9) 50%,
          rgba(0, 0, 0, 0) 100%);
      top: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .programmes_Content {
      position: absolute;
      top: 0;
      height: 100%;

      h1 {
        padding-top: 110px;
        padding-left: 130px;
        font-size: 55px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: var(--hFont);
      }

      p {
        position: absolute;
        font-size: 18px;
        color: #ffffff;
        line-height: 1.5;
        align-items: center;
        text-align: justify;
        padding: 20px 0px 0px 135px;
        font-family: var(--pFont);
      }
    }
  }
}

@media (max-width: 768px) {
  .programmes {
    .Cover-Image {
      .programmes_Content {
        h1 {
          font-size: 30px;
          width: 100%;
          line-height: 1.5;
          padding-left: 30px;
          padding-top: 130px;
        }

        p {
          font-size: 16px;
          padding: 0px 0px 0px 32px;
        }
      }
    }
  }
}

.programmes_Heading {
  text-align: center;
  padding: 0 20px;

  h1 {
    font-size: 60px;
    color: black;
    opacity: 58%;
    margin-top: 15px;
    font-family: 'K2D', sans-serif;
  }

  p {
    width: 100%;
    font-size: 18px;
    color: black;
    opacity: 78%;
    font-family: var(--pFont);
    font-weight: 500;
    text-align: center;
    padding: 20px 20%;
  }


}

.course_Distrubution {
  height: 600px;
  width: 850px;
  position: relative;
  left: 320px;
  top: 30px;
  cursor: pointer;
}

.BIBM,
.BIHM {
  z-index: 5;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.Course_BIHM {
  z-index: 1;
}

.container {
  z-index: -1;
}

.Course_BIHM,
.Course_BIBM {
  overflow: hidden;
}

.Course_BIHM:hover {
  img {
    transform: scale(1.1);
  }
}

.Course_BIHM img,
.Course_BIBM img {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.BIBM {
  width: 200px;
  height: 100px;
  background-color: #74c044;
  border-radius: 10px;
  position: relative;
  top: 50px;
  left: 100px;
  z-index: 1;

  .course_Name {
    p {
      font-size: 50px;
      color: #fff;
      display: flex;
      font-weight: bold;
      justify-content: center;
      padding: 10px;
    }
  }
}

.Course_BIBM {
  position: relative;
  height: 500px;
  width: 400px;
  background-color: rgb(92, 25, 25);
  border-radius: 10px;
  left: 0px;
  animation: hover2 4s ease-in-out 0s infinite;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .hat {
    display: none;
  }

  .course_Distrubution {
    left: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 80px;

    .BIBM {
      width: 20%;
      height: 15%;
      top: 30px;
      left: 50px;
    }
    .BIBM P {
      font-size: 30px;
    }

    .BIHM {
      width: 20%;
      height: 15%;
      top: 45px;
      left: 490px;
      z-index: 5;
      
    }

    .BIHM .course_Names p {
      font-size: 30px;
    }

    .Course_BIBM {
      width: 80%;
      height: 700px;
      left: 20;
      top: 0;
    }

    .Course_BIHM {
      width: 80%;
      height: 700px;
      left: 50px;
      top: 0px;
    }
  }
}

.BIHM {
  width: 200px;
  height: 100px;
  background-color: #9dcdbd;
  border-radius: 10px;
  position: relative;
  top: -100px;
  left: 550px;
  z-index: 5;

  .course_Names {
    p {
      font-size: 50px;
      color: #21409a;
      display: flex;
      font-weight: bold;
      justify-content: center;
      padding: 10px;
    }
  }
}

.Course_BIHM {
  position: relative;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  left: 450px;
  top: -108%;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.hat {
  position: relative;
  width: 200px;
  height: 200px;
}

.hat img {
  position: absolute;
  width: 200px;
  height: auto;
  left: 1440px;
  top: 29px;
}

.hat img:first-child {
  top: -260%;
  left: 80px;
  animation: hover2 4s ease-in-out 0s infinite;
}

.hat img:last-child {
  top: -88px;
  left: 625%;
  animation: hover2 4s ease-in-out 2s infinite;
}

@keyframes hover2 {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1442px) {
  .programmes_Heading h1 {
    font-size: 50px;
  }

  .programmes_Heading p {
    font-size: 15px;
    padding: 10px 40px 0px 40px;
  }

  .BIBM {
    left: 50px;
  }

  .BIHM {
    left: 580px;
  }

  .course_Distrubution {
    top: 0px;
    left: 0%;
    right: 20px;
    width: 100%;
  }

  .Course_BIHM {
    top: -600px;
    left: 430px;
    width: 350px;
    height: 450px;
  }

  .Course_BIBM {
    left: 50px;
    width: 350px;
    height: 450px;
  }

  .hat {
    display: none;
  }

  .programmes .Cover-Image .programmes_Content h1 {
    font-size: 40px;
    padding-left: 40px;
    padding: 160px 0px 0px 40px;
  }

  .programmes .Cover-Image .programmes_Content p {
    font-size: 16px;
    padding: 10px 0px 0px 40px;
  }
}

@media (max-width: 1442px) {
  .course_Distrubution {
    left: 0%;
    width: 299px;
  }
}

@media (max-width: 768px) {
  .programmes_Heading h1 {
    font-size: 35px;
  }

  .programmes_Heading p {
    font-size: 12px;
    padding: 10px 78px 0px 91px;
  }


  .course_Distrubution {
    left: 0%;
    width: 100%;
  }
}



