*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    // color: white;
}

.maincontainer-aboutus{
    display: flex;
    flex-direction: column;
    margin: 3% 10%;
    padding: 2% 5%;
    background: #FAFAFA;
    gap: 30px;
}


.content-aboutus{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    // width: auto;
    font-size: larger;
    // text-align: left;
    // line-height: normal;
    // letter-spacing:.4em;
}

.showimage{
    position: relative;
}

.firstborder{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6369FF;   

}



.secondborder{
    right: 0;
    top: 40%;
    // background: ;
    background: #B86363;

}

.firstborder , .secondborder{
    border-radius: 20px 0px 20px 0px;
    position: absolute;
    border: 0px solid;
    width: 50%;
    height: 60%;
    z-index: 1;
}
.about-image{
    z-index: 100;
    position: relative;
    // margin: 5px;
    padding: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    // color:red;
    h2{
        color:#6C6C6C;
    }
    p{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: justify;
color: #888888;
    }

    button{
        width: 216px;
height: 59px;
border-radius: 10px;
border:0px solid;
background: #6369FF;
color:white ;
font-size: 24px;
    }
}